[submodule "tests/external/catch"]
	path = tests/external/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "external/mpi"]
	path = external/mpi
	url = https://github.com/acdemiralp/mpi.git
[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "external/readerwriterqueue"]
	path = external/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
