[submodule "tests/external/catch"]
	path = tests/external/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "external/mpi"]
	path = external/mpi
	url = https://github.com/acdemiralp/mpi.git
